.iconText{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.iconText svg {
    font-size: 80px;
}

.text{
    font-size: 24px;
    font-weight: 400;
    color: #595959;
    margin-bottom: 0%;
    font-family: 'Avenir';
    text-align: center;
    height: 50px;
}

.paragraph{
    font-size: 16px;
    font-weight: 400;
    color: #595959;
    margin-bottom: 0%;
    font-family: 'Avenir';
    text-align: center;
}

@media screen and (max-width: 940px) {
    .iconText{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
    }

    .iconText svg {
        font-size: 40px;
    }

    .text{
        text-align: justify;
        margin: 0;
        margin-bottom: 10px;
        font-size: 16px;
        height: 50px;
        text-align: center;
    }

    .paragraph{
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
        font-size: 12px;
    }
}
